[project]
name = "water-column-sonar-processing"
version = "25.11.10"
authors = [
    { name = "Rudy Klucik", email = "rudy.klucik@noaa.gov" },
]
maintainers = [
    { name = "Rudy Klucik", email = "rudy.klucik@noaa.gov" },
]
description = "Processing tool for water column sonar data."
keywords = ["ocean", "sonar", "water column", "zarr"]
readme = "README.md"
requires-python = ">=3.12"
license = "MIT"
license-files = ["LICENSE"]

# uv pip install -r pyproject.toml --all-extras
dependencies = [
    "black",
    "boto3",
    "boto3-stubs",
    "botocore",
    "build",
    "echopype",
    "fiona",
    "geopandas",
    "importlib",
    "mock",
    "moto[all]",
    "moto[server]",
    "multidict",
    "netcdf4",
    "numpy",
    "pandas",
    "pandas-stubs",
    "pooch",
    "pyarrow",
    "pykalman",
    "python-dotenv",
    "requests",
    "s3fs==2025.10.0",
    "scipy",
    "setuptools",
    "shapely",
    #    "tomllib",
    "xarray",
    "zarr",
]

#  uv sync --all-groups --upgrade
[dependency-groups]
dev = [
    "bandit[toml]",
    "build",
    "pooch",
    "pre-commit",
    "pytest",
    "pytest-cov", # uv run pytest --cov=testing_demo
    "ruff",
    "tqdm",
]

[project.urls]
Homepage = "https://echo.fish"
Repository = "https://github.com/CI-CMG/water-column-sonar-processing"
Issues = "https://github.com/CI-CMG/water-column-sonar-processing/issues"

[tool.bandit]
exclude_dirs = ["tests"]

[tool.pre-commit-hooks.bandit]
exclude = ["*/tests/*"]

#[tool.isort]
#known_first_party = "water_column_sonar_processing"
#multi_line_output = 3
#force_grid_wrap = 0
#include_trailing_comma = true
#combine_as_imports = true
#
#[tool.black]
#line-length = 88
