# https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html
# defined for Python 3.12
# Note: be careful with conversions for pandas >=2.0.0, timestamps will have a lot of problems

aiobotocore~=2.9.0
aiohttp~=3.10.10
boto3==1.33.13
botocore~=1.33.13
echopype==0.8.3
fiona==1.10.1
geopandas==0.14.3
numcodecs==0.11.0
numpy==1.26.2
pandas==2.2.2
python-dotenv==1.0.0
requests==2.32.3
s3fs==2023.12.2
scipy==1.11.4
shapely==2.0.3
typing-extensions==4.10.0
xarray==2022.12.0
zarr==2.16.1

pytest~=8.3.3
moto~=5.0.18
mock~=5.1.0